<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script type="text/javascript" src="{% static 'js/cats.js' %}"> </script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/yard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cats.css' %}">
  </head>
  <body>
    <main>
       <div id="cat1" class="cat-box"></div>
       <div id="cat2" class="cat-box"></div>
       <div id="cat3" class="cat-box"></div>
       <button class="summon-cats">Summon kitties!</button>
     </main>
  </body>
</html>